@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'VT323', monospace;
}

.page-holder {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(100deg, #0495f0, rgb(1, 77, 77));
  background-size: 200% 200%;
}


/* Game Menu Styles */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 20px double #78d7f3;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 11px 7px rgba(0, 0, 0, 0.6); 
  padding: 5rem;
  position: relative; 
}

.back-arrow-container {
  position: absolute;
  top: 10px; 
  left: 10px;
  cursor: pointer;
}

.back-arrow {
  font-size: 2.5rem;
  color: #78d7f3;
  transition: 0.3s;
}

.back-arrow:hover {
  transform: scale(1.1);
}

.menu-title {
  font-size: 5rem;
  background: linear-gradient(0deg, #78d7f3, #ffffff);
  background-clip: text;
  color: transparent;
}

.quiz-title {
  font-size: 2rem;
  background: linear-gradient(0deg, #78d7f3, #ffffff);
  background-clip: text;
  color: transparent;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  position: relative;
}

.menu-list-item {
  font-size: 2.5rem;
  color: #ffffff; 
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.menu-list-item {
  font-size: 2.5rem;
  color: #ffffff;
  margin: 10px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

.menu-list li:hover {
  transform: scale(1.1);
}

/* REGISTER && LOGIN */

.input-with-label {
  display: flex;
  margin: 0.5rem;
  flex-direction: column;
  gap: 5px;
}

.menu-label {
  margin-top: 1rem;
  align-self: flex-start;
  color: #ffffff; 
  font-size: 2rem;
}

.menu-input {
  background: none;
  border: none;
  border-bottom: 2px solid #78d7f3;
  font-size: 1.5rem;
  color: #ffffff;
  outline: none;
}

.menu-button {
  align-self: center;
  margin-top: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  font-size: 1.5rem;
  width: max-content;
  background-color: transparent;
  color: #78d7f3;
  border: 2px solid #78d7f3;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-button:hover {
  background-color: #056d8d;
  color: #ffffff; 
}

.already-account {
  font-size: 1.1rem;
  margin-top: 7px;
  color: #ffffff;
}

/* STATISTICS */

.menu-other {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: auto;
  text-align: center;
  border: 20px double #78d7f3;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 11px 7px rgba(0, 0, 0, 0.6); 
  padding: 5rem;
  overflow-y: auto;
  position: relative;
}

.already-account-link {
  color: #78d7f3;
}

.stat-border {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px inset #78d7f3;
  padding: 5px;
  width: 100%;
  margin-top: 1rem;
  gap: 1rem;
  color: #ffffff;
  font-size: 1.6rem;
}

.edit-button {
  transition: 0.3s;
  cursor: pointer;
}

.edit-button:hover {
  transform: scale(1.1);
}


/* QUIZ */

.quiz-border {
  border: 5px inset #78d7f3;
  padding: 15px;
  margin-top: 20px;
  color: #ffffff;
  font-size: 1.5rem;
}

.quiz-form {
  margin-top: 20px;
  gap: 15px;
}

.option,
.quiz-option-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

input[type="radio"] {
  margin-right: 10px;
}

.quiz-option-label {
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.quiz-option-label:hover {
  text-decoration: underline;
  color: #78d7f3;
}

.quiz-option-label input[type="text"] {
  align-self: center;
  background: none;
  border: none;
  border-bottom: 2px solid #78d7f3;
  font-size: 1.5rem;
  color: #ffffff;
  outline: none;
  margin-left: 5px;
  width: 290px;
}

.quiz-border input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #78d7f3;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.quiz-form,
.option,
.quiz-option-label {
  margin-top: 20px;
}

.quiz-option-label {
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.quiz-option-label:hover {
  text-decoration: underline;
  color: #78d7f3;
}

.correct-answer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.correct-answer span {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 10px;
}

.correct-answer div {
  display: flex;
  gap: 1rem;
}

.correct-answer label {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1.6rem;
  color: #ffffff;
  cursor: pointer;
  user-select: none;
}

.correct-answer input[type="radio"] {
  margin-right: 5px;
}